[submodule "opencv"]
	path = opencv
	url = git@github.com:sunsided/opencv.git
	branch = master
[submodule "contrib"]
	path = contrib
	url = git@github.com:sunsided/opencv_contrib.git
	branch = master
